<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ControladorCalendario</servlet-name>
        <servlet-class>Controlador.ControladorCalendario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AgregarRamo</servlet-name>
        <servlet-class>Controlador.AgregarRamo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorUsuario</servlet-name>
        <servlet-class>Controlador.ControladorUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorSemestre</servlet-name>
        <servlet-class>Controlador.ControladorSemestre</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorRamo</servlet-name>
        <servlet-class>Controlador.ControladorRamo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorHistorial</servlet-name>
        <servlet-class>Controlador.ControladorHistorial</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorNotas</servlet-name>
        <servlet-class>Controlador.ControladorNotas</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControladorCalendario</servlet-name>
        <url-pattern>/ControladorCalendario</url-pattern>
        <url-pattern>/agregarFecha</url-pattern>
        <url-pattern>/BorrarFecha</url-pattern>
        <url-pattern>/enviarEventos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgregarRamo</servlet-name>
        <url-pattern>/AgregarRamo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorUsuario</servlet-name>
        <url-pattern>/ControladorUsuario</url-pattern>
        <url-pattern>/Registro</url-pattern>
        <url-pattern>/LoginUsuario</url-pattern>
        <url-pattern>/DatosUsuario</url-pattern>
        <url-pattern>/EnviarDatosUsuario</url-pattern>
        <url-pattern>/PerfilUsuario</url-pattern>
        <url-pattern>/EnviarOpcMain</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorSemestre</servlet-name>
        <url-pattern>/ControladorSemestre</url-pattern>
        <url-pattern>/agregarSemestre</url-pattern>
        <url-pattern>/borrarSemestre</url-pattern>
        <url-pattern>/archivarSemestre</url-pattern>
        <url-pattern>/reiniciarSemestre</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorRamo</servlet-name>
        <url-pattern>/ControladorRamo</url-pattern>
        <url-pattern>/agregarRamo</url-pattern>
        <url-pattern>/borrarRamo</url-pattern>
        <url-pattern>/infoRamos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorHistorial</servlet-name>
        <url-pattern>/ControladorHistorial</url-pattern>
        <url-pattern>/mostrarHistorial</url-pattern>
        <url-pattern>/funcHistorial</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorNotas</servlet-name>
        <url-pattern>/ControladorNotas</url-pattern>
        <url-pattern>/guardarNotas</url-pattern>
        <url-pattern>/calcularProm</url-pattern>
        <url-pattern>/calcPromFinal</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            300
        </session-timeout>
    </session-config>
</web-app>
